nav{
    display: flex;
    padding: 0px 200px 0px 120px;
    gap: 40px;
    height: 100px;
    align-items: center;
}

.navItem{
    color: #403930;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.badge{
    padding: 12px 24px;
    gap: 10px;
    border-radius: 10px;
    background: #E6EEFF;
    width: fit-content;
    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    margin-bottom: 40px;
}

header{
    padding: 100px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div h1{
    color: #333;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1.28px;

    margin-bottom: 40px;
}

header div h1 span{
    font-weight: 900;
    background: linear-gradient(
        99deg, 
        #001F8F 3.58%, 
        rgba(36, 255, 203, 0.50) 90.34%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerLinkContainer{
    display: flex;
    gap: 16px;
}

.headerLink{
    display: flex;
    text-decoration: none;
    width: 140px;
    padding: 24px 40px;
    border-radius: 16px;
    background-color: #000;
    justify-content: center;
    align-items: center;

    color: #E6EEFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.headerLinkReverse{
    border: 4px solid #403930;
    background-color: #fff;
    color: #403930;
}

.headerImg{
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 500px;
    border: 10px solid #BCF2F9;
    background-image: url(./img/burby.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.introContainer{
    display: flex;
    padding: 100px 120px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
}

.introTitle{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.8px;
}

.posRelative{
    position: relative;
}

.flyingPerson{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 48px;
    left: 160px;
}

.introText{
    color: #333;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.techStackContainer{
    display: flex;
    padding: 100px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.techStackTitle{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.8px;
    margin-bottom: 24px;
}

.techStackDesc{
    color: #333;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
}

.techStacks{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}


.fixedContactButton{
    width: 165px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);
    padding: 20px 40px ;

    color: rgba(64, 57, 48, 0.80);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    position: fixed;
    bottom: 60px;
    right: 60px;

}